@model MinesweeperCLC.Models.ButtonModel

@{
    string[] names = { "button1.png", "button2.png", "button3.png" };
}

<button class="game-button" id="mousedown" type="submit" name="buttonNumber" asp-controller="Button" asp-action="HandelButtonClick">
    <img class="game-button-image" src="~/img/@names[Model.ButtonState]" />
    <div class="button-label">
        @Model.ButtonState

    </div>
</button>
